        <div class="main_content">
          
          <!-- main slider -->
<div class="main_slider_c">
  
<div class="main_slider nivoSlider">


  
    <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="nivo-imageLink" style="display: none;"><img src="assets/slider_img_1.jpg" alt="" style="width: 710px; visibility: hidden;"></a>
  



  
    <a href="http://demo42150.myinsales.ru/product/asus-nexus-7-16gb" class="nivo-imageLink" style="display: block;"><img src="assets/slider_img_2.jpg" alt="" style="width: 710px; visibility: hidden;"></a>
  







<img class="nivo-main-image" src="assets/slider_img_2.jpg" style="display: inline; height: auto; width: 710px;"><div class="nivo-caption"></div><div class="nivo-directionNav"><a class="nivo-prevNav"></a><a class="nivo-nextNav"></a></div></div><div class="nivo-controlNav"><a class="nivo-control" rel="0">1</a><a class="nivo-control active" rel="1">2</a></div>


</div>

<!-- /main_slider -->
<!-- banners -->
<div class="banners_c">
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_1.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_2.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_3.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_4.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_5.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="banner"><img src="assets/main_banner_6.jpg" alt=""></a>
    
  

  
  
</div>
<!-- /banners -->
<!-- brands -->
<div class="brands_c">
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="brand"><img src="assets/main_brand_1.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="brand"><img src="assets/main_brand_2.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="brand"><img src="assets/main_brand_3.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="brand"><img src="assets/main_brand_4.jpg" alt=""></a>
    
  

  
    
      <a href="http://demo42150.myinsales.ru/collection/noutbuki/product/apple-macbook-air-11-mid-2012" class="brand"><img src="assets/main_brand_5.jpg" alt=""></a>
    
  

  
  
</div>
<!-- /brands -->
<div class="title_arrow title_arrow--content">Новые товары</div>
<!-- new products -->


<br>
  <div class="category_smallgrid ">
    
      <div class="category_item category_item--smallgrid">
    <form action="http://demo42150.myinsales.ru/cart_items" method="post" id="order">
      <input type="hidden" name="variant_id" value="34472833">
      <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
      <div class="category_item__img_c--smallgrid">
        <a href="http://demo42150.myinsales.ru/collection/new_products/product/74-fx-disc" class="category_item__img__link--smallgrid">
          <img src="assets/compact_90341.jpg" alt="" class="category_item__img--smallgrid">
        </a>
      </div>
      <div class="category_item__description--smallgrid">        
        <div class="star_rait star_rait--catgrid">
          <div class="star_rait_color" style="width:100%"></div>
        </div>
        <h3 class="category_item__title category_item__title--smallgrid">
         <a href="http://demo42150.myinsales.ru/collection/new_products/product/74-fx-disc">7.4 FX Disc</a>
        </h3>
        <div class="category_item__price">
          <span class="category_item__price__now total-price">32000&nbsp;руб</span>
          
        </div>
        <div class="category_item__quantity quantity">
          <label for="quantity" class="quantity__label">Количество</label>
          <input type="text" data-price="32000.0" disabled="disabled" name="quantity" value="1" class="quantity__txt qwt">
          <span class="quantity_controls quantity_controls_plus plus">+</span><span class="quantity_controls quantity_controls_minus minus">-</span>
          <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
        </div>
        <div class="category_item__busket">
          <span class="add_card_button">В корзину</span>
          <a href="http://demo42150.myinsales.ru/collection/new_products/product/74-fx-disc" class="product_details">Подробнее</a>
        </div>
      </div>
      <div class="clear"></div>
      </form>
    </div>
    
      <div class="category_item category_item--smallgrid">
    <form action="http://demo42150.myinsales.ru/cart_items" method="post" id="order">
      <input type="hidden" name="variant_id" value="34472734">
      <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
      <div class="category_item__img_c--smallgrid">
        <a href="http://demo42150.myinsales.ru/collection/new_products/product/75-fx-wsd" class="category_item__img__link--smallgrid">
          <img src="assets/compact_Asset_125119.jpg" alt="" class="category_item__img--smallgrid">
        </a>
      </div>
      <div class="category_item__description--smallgrid">        
        <div class="star_rait star_rait--catgrid">
          <div class="star_rait_color" style="width:100%"></div>
        </div>
        <h3 class="category_item__title category_item__title--smallgrid">
         <a href="http://demo42150.myinsales.ru/collection/new_products/product/75-fx-wsd">7.5 FX WSD</a>
        </h3>
        <div class="category_item__price">
          <span class="category_item__price__now total-price">44000&nbsp;руб</span>
          
        </div>
        <div class="category_item__quantity quantity">
          <label for="quantity" class="quantity__label">Количество</label>
          <input type="text" data-price="44000.0" disabled="disabled" name="quantity" value="1" class="quantity__txt qwt">
          <span class="quantity_controls quantity_controls_plus plus">+</span><span class="quantity_controls quantity_controls_minus minus">-</span>
          <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
        </div>
        <div class="category_item__busket">
          <span class="add_card_button">В корзину</span>
          <a href="http://demo42150.myinsales.ru/collection/new_products/product/75-fx-wsd" class="product_details">Подробнее</a>
        </div>
      </div>
      <div class="clear"></div>
      </form>
    </div>
    
      <div class="category_item category_item--smallgrid">
    <form action="http://demo42150.myinsales.ru/cart_items" method="post" id="order">
      <input type="hidden" name="variant_id" value="34471324">
      <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
      <div class="category_item__img_c--smallgrid">
        <a href="http://demo42150.myinsales.ru/collection/new_products/product/verve-2-wsd" class="category_item__img__link--smallgrid">
          <img src="assets/compact_Asset_154514.jpg" alt="" class="category_item__img--smallgrid">
        </a>
      </div>
      <div class="category_item__description--smallgrid">        
        <div class="star_rait star_rait--catgrid">
          <div class="star_rait_color" style="width:0.0%"></div>
        </div>
        <h3 class="category_item__title category_item__title--smallgrid">
         <a href="http://demo42150.myinsales.ru/collection/new_products/product/verve-2-wsd">Verve 2 WSD</a>
        </h3>
        <div class="category_item__price">
          <span class="category_item__price__now total-price">9900&nbsp;руб</span>
          
        </div>
        <div class="category_item__quantity quantity">
          <label for="quantity" class="quantity__label">Количество</label>
          <input type="text" data-price="9900.0" disabled="disabled" name="quantity" value="1" class="quantity__txt qwt">
          <span class="quantity_controls quantity_controls_plus plus">+</span><span class="quantity_controls quantity_controls_minus minus">-</span>
          <input type="hidden" name="quantity" class="quantity_input_form qwt2" value="1">
        </div>
        <div class="category_item__busket">
          <span class="add_card_button">В корзину</span>
          <a href="http://demo42150.myinsales.ru/collection/new_products/product/verve-2-wsd" class="product_details">Подробнее</a>
        </div>
      </div>
      <div class="clear"></div>
      </form>
    </div>
    
  </div>

<!-- /new products -->
        </div>
