<div class="main_content">


  <div class="title_arrow title_arrow--content">Оформление заказа</div>
  <div class="busket__c">
    <script type="text/javascript" src="./корзина_files/cart.js"></script>
    <%= render 'form' %>
  </div>
  </div>
