<div class="clear"></div>
  <div class="main_content">
    <div class="breadcrumbs">
      <a href="/">Главная</a> &gt;
      <span>Завершение оформления заказа</span>
    </div>

  <div class="text">
    <p>Спасибо за покупку!</p>
    <p>В разделе <a href="/orders" >заказы</a>, вы сможете увидеть свой заказ.</p>
    <p>В ближайшее время мы с Вами свяжемся. </p>
    <p><%= link_to 'На главную', title_path %></p>
  </div>
</div>


