body {background: #F3F3F3 url(body.jpg) no-repeat center 0;font: 12px/18px Arial, Tahoma, Verdana, sans-serif;width: 100%;}
a{color: #f2041f;}
/*first header*/
.header{background: url(body-top.png) left top repeat-x;height: 41px;line-height: 41px;}
.header_in{margin: 0 auto;width: 970px;}

.phone{background: url(phone.png) left center no-repeat;color: #F2041F;font-size: 18px;padding-left: 15px;}
.currensy_form{color: #FFF;margin-left: 20px;}
.currensy_form__label{font-size: 11px;margin-right:10px;}
.currensy_form__select{display: inline-block;vertical-align: text-top;width: 140px;}
.currensy_form__submit{background: #464545;border:none;color: #fff;display: inline-block;height: 22px;line-height: 22px;text-transform: uppercase;vertical-align: middle;}
.currensy_form__submit:hover{background: #F2041F;}

.header__login{color: #909090;font-size: 11px;}
.header__login a{color: #F2041F;}
.header__login a:hover{text-decoration: underline;}

/*wrapper*/
.wrapper{background: white;box-shadow: 0 0 10px #E1E1E1;margin: 20px auto;width: 970px;}


/*top_menu*/
.top_menu{background: #343434 url(menu_hov.png) left bottom repeat-x;float: left;height: 80px;}
.top_menu__list > li{border-left: solid 1px #000;float: left;height: 80px;list-style: none;position: relative;text-align: center;width: 93px;}
.top_menu__list > li > a{color: #FFF;display: table-cell;font: normal 12px/120% Arial,Helvetica,sans-serif;text-transform: uppercase; vertical-align: middle; height: 80px; width: 100px;}
.top_menu__list > li > a:hover,
.top_menu__list > li > a.active,
.top_menu__list > li.top_menu__subli:hover > a{background: url(menu_hov.png) left top repeat-x;color: #F2041F;}

.top_menu__list > li.top_menu__subli > a{line-height: 14px;position: relative;}
.top_menu_ar{background: url(show_car.png) 0 0 no-repeat;display: block;height: 7px;margin-top: -3px;position: absolute;right: 5px;top: 50%;width: 7px;}
.top_menu__list > li.top_menu__subli:hover .top_menu_ar{background-position: 0 -7px}

.top_menu__sub{background: #565656;display: none;left: -1px;padding: 20px;position: absolute;top: 80px;width: 190px;z-index: 99999}
.top_menu__sub > li{border-top: 1px solid #4C4C4C;list-style: none;line-height: 28px;text-align: left;}
.top_menu__sub > li:first-child{border-top: none;}
.top_menu__sub > li > a{color: #fff;display: block;}
.top_menu__sub > li > a:hover{color: #F2041F;}

.top_menu__list > li.top_menu__subli:hover ul{display: block;}

/*busket_search_c*/

#own_preloader {background:#fff;border:solid 1px #ccc;height: 80px;line-height:80px;text-align: center;vertical-align: middle;width: 390px;z-index: 1000;}

.search{background: #EAEAEA;margin-top: 10px;padding: 4px;}
.search_txt{background: #fff;border:none;display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;vertical-align: text-top;width: 135px;}
.search_submit{background: #D1031B;border:none;color: #fff;display: inline-block;font-size:13px;height: 25px;line-height: 25px;margin-left: 3px;padding: 0;text-transform: uppercase;vertical-align: text-top;width:60px}
.search_submit:hover{background: #000;}

.main_content{min-height:250px;padding-top: 10px;}
.breadcrumbs{font-size:14px;padding-bottom:10px;}
.breadcrumbs a:hover{text-decoration: underline;}
/*main_slider*/
.main_slider_c{height:428px;overflow:hidden;}
.nivoSlider {position:relative;width:100%;height:auto;overflow: hidden;}
.nivoSlider img {position:absolute;top:0px;left:0px;max-width: none;}


/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;background:white;filter:alpha(opacity=0);opacity:0;}
/* The slices and boxes in the Slider */
.nivo-slice {display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box {display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img { display:block; }
/* Caption styles */
.nivo-caption {position:absolute;left:0px;bottom:0px;background:#000;color:#fff;width:100%;z-index:8;padding: 5px 10px;opacity: 0.8;overflow: hidden;display: none;
  -moz-opacity: 0.8;
  filter:alpha(opacity=8);
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {padding:5px;margin:0;}
.nivo-caption a {display:inline !important;}
.nivo-html-caption {display:none;}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav{display: none;}
.nivoSlider:hover .nivo-directionNav{display: block;}
.nivo-directionNav a {background: #fff url(slider_arrows.png) no-repeat 0 center;display: block;height: 40px;position:absolute;top:45%;z-index:9;cursor:pointer;opacity:0.8;width: 40px;}
.nivo-prevNav {left:0px;}
.nivo-directionNav a.nivo-nextNav {background-position: -40px 0; right:0px;}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {background: url(camera_p.png) repeat;padding: 5px 7px;margin-top: -28px;position: relative;text-align:right;height: 18px;z-index: 999;}
.nivo-controlNav a {background:#fff;border-radius:11px;cursor:pointer;display: inline-block;height: 11px;margin-right: 5px;text-indent: 9999px;width: 11px;}
.nivo-controlNav a.active {background: #EE041E;}

/*banners*/
.banners_c{font-size: 1px;line-height: 0;margin-top: 10px;text-align:justify;text-justify: newspaper;}
.banners_c:after{content: '';display: inline-block;height: 0px;overflow: hidden;visibility: hidden;width: 100%;}
.banner{display: inline-block;margin-bottom: 10px;}
.banner:hover,
.brand:hover{opacity: 0.5;filter: alpha(opacity=50);}

/*brands*/
.brands_c{background: url(manufact.jpg) left top no-repeat;font-size:1px;line-height:0;overflow: hidden;padding-left: 17px;}
.brand,
.brand img{display: inline-block;}

/*new_products*/
.new_products_c{margin-top: 10px;}
.product_block.product_block--new{float: left;margin-left: 7px;margin-top: 0;width: 196px;}
.product_block--new:first-child{margin:0;}
/* Sidebar Left */
.sideLeft {float: left;margin-left: -100%;position: relative;width: 230px;}
.logo{display: block;height: 80px;width: 230px;}
.logo img{display: block;}

/*left_menu*/
.left_menu{border-top: 1px solid #000;list-style: none;margin-top: 10px;}
.left_menu > li{background: #363636;border-bottom:solid 1px #000;position: relative;}
.left_menu > li > a {color: white;display: block;line-height: 20px;padding: 8px 20px 8px 10px;text-decoration: none;text-transform: uppercase;}
.left_menu > li > a:hover,
.left_menu > li > a.active{background: #F2041F;}

.left_sub_menu{background: #2E2D2D;display: none;line-height: 20px;list-style: none;padding:0 20px;}
.left_sub_menu > li > a{color: #FFF;}
.left_sub_menu > li > a:hover,
.left_sub_menu > li > a.active{color: #F2041F;}

.left_menu__arrow{background: url(arrow.png) 0 0 no-repeat;cursor:pointer;height: 7px;position: absolute;right: 10px;top: 13px;width: 7px;}
.left_menu__arrow.active{background-position: 0 -7px ;}

/*social block*/
.social_block{background: url(social_bg.jpg);height: 84px;margin-top: 10px;padding:10px 15px;}
.social_block__list{font-size: 1px;line-height: 0;text-align: center;}
.social_block__list a{display: inline-block;margin-left: 1px;}
.social_block__list a:hover{opacity: 0.5;filter: alpha(opacity=50);}
.left_block_title{color: #303030;font: bold 14px/21px Arial, Helvetica, sans-serif;margin-bottom: 10px;text-transform:uppercase}

/*login_block*/
.login_block{background: #ECECEC;border:solid 1px #DDD;margin-top: 10px;padding: 15px;}
.login_block a{color: #6a6a6a;}
.login_block a:hover{text-decoration: underline;}
.login_form__item{font-size: 11px;margin-bottom: 10px;}
.login_form__txt{background: #FFF;border: solid 1px #DDD;color: #999;font: 9px/23px Tahoma, Geneva, sans-serif;height: 23px;padding: 0px 10px;width: 176px;}
.login_form__button{background: #303030;border:none;color: #FFF;font-family: bold 11px/31px Arial, Helvetica, sans-serif;height: 32px;margin-right: 15px;text-transform: uppercase;width: 69px;}
.login_form__button:hover{background: #f2041f;}
.login_form__check{position: relative;top:2px;}
.login_form__lb{color: #6A6A6A;margin-left: 10px;}
a.login_form__create{color: #f2041f;}

/*title arrow*/
.title_arrow{background: #f2041f url(title_ma.png) no-repeat 6px center;color: #FFF;font: bold 14px/39px Arial,Helvetica,sans-serif;margin-top: 10px;padding-left: 38px;text-transform: uppercase;}
.title_arrow--content{background-color: #303030;}

/*product_block*/

.product_block__title{font: normal 11px/17px Arial, Helvetica, sans-serif;text-transform: uppercase;}
.product_block__title a{color: #f2041f;}
.product_block__title a:hover{color: #000;}

.produc_block__price{margin-top: 20px;}
.produc_block__price__now{color: #303030;font: normal 17px/20px Arial, Helvetica, sans-serif;}
.produc_block__price__old{color: #F2041F;font: normal 14px/20px Arial, Helvetica, sans-serif;margin-left: 5px;text-decoration: line-through;}
.produc_block__description{color: #979797;font: normal 11px/17px Arial, Helvetica, sans-serif;height:34px;margin-top: 8px;overflow:hidden;}
.produc_block__buttons{margin-top: 15px;}
.add_card_button,
.product_details{border:none;cursor:pointer;display: inline-block;font: bold 11px/32px Arial, Helvetica, sans-serif;height: 32px;margin-right: 7px;padding: 0 10px;text-transform: uppercase;vertical-align: text-top;}
.add_card_button{background: url(cart_but.gif) left top repeat-x;color: #fff;cursor:pointer}
.add_card_button:hover{background-position: 0 -32px}
.product_details{background: #EAEAEA;color: #303030;}
.product_details:hover{background: #F2041F;color: #FFF;}
/* Footer */
.footer {background: #303030;color: #989898;padding: 10px 20px;}
.footer_menu__list li{display: inline-block;font: normal 12px/35px Arial, Helvetica, sans-serif;list-style: none;margin-right: 18px;text-transform: uppercase;}
.footer_menu__list a{color: #FFF;}
.footer_menu__list a:hover{color: #F2041F;}
.copyright{font: normal 11px/17px Arial, Helvetica, sans-serif;}

/* clever select */
.jClever-element{display: inline-block;vertical-align: middle;}
.clevered.alice .jClever-element-select-wrapper {background: #FFF;position: relative;cursor: pointer;height: 22px;}
.clevered.alice .jClever-element-select-wrapper select {display: none;}
.clevered.alice .jClever-element select {display: none;font-size: 11px;}
.clevered.alice .jClever-element-select-center {color: #8A8989;white-space: nowrap;overflow: hidden;display: block;line-height: 22px;padding: 0 10px;font-size: 11px;color: #000;position: relative;}
.clevered.alice .jClever-element.focused .jClever-element-select-center {background: #fff;}
.clevered.alice .jClever-element-select-right {position: absolute;right: 0px;top: 0px;background: url(select_right.png) no-repeat 0 0;       height: 22px;width: 22px;cursor: pointer;display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;text-align: center;font-family: Arial;color: white;font-weight: bold;line-height: 20px;}
.clevered.alice .jClever-element-select-right>span {display: none;}
.clevered.alice .jClever-element-select-list-wrapper {box-shadow: 0px 0px 1px #B0AFAF;position: absolute;width: 100%;padding: 0px;margin: 0px;top: 23px;left: 0px;background: #fff;display: none;max-height: 200px;font-size: 14px;}
.clevered.alice .jClever-element-select-list {white-space: nowrap;padding: 0px;margin: 0px;}
.clevered.alice .jClever-element-select-list>li {line-height:24px;padding: 0 5px;margin: 0px 0;color: #A4A4A4;}
.clevered.alice .jClever-element-select-list>li.active  {color: #000;}
.clevered.alice .jClever-element-select-list>li:hover,
.clevered.alice .jClever-element-select-list>li.selected {color: #000;}
.clevered.alice .jClever-element-select-list>li>span {font:11px/13px arial,sans-serif;overflow: hidden;width: 100%;display: block;position: relative;white-space: normal;}
.clevered.alice .jClever-element-select-list>li>span>i {font-style: normal;}

/*category*/
.category_c{}
.category_title{background: #303030;color: #FFF;font: bold 14px/39px Arial,Helvetica,sans-serif;margin: 0 0 10px 0;padding: 0 0 0 20px;text-transform: uppercase;}
.category_description{background: #F4F1F1;padding: 10px;margin-bottom: 10px;}

/*category filter*/
.category_sort_c{background: #F4F1F1;border-bottom: solid 1px #DFDFDF;padding: 10px;margin-bottom: 10px;}
.category_sort__item{display: inline-block;margin-right: 5px;vertical-align: text-top;}
select#made{width: 90px;}
select#sort{width: 100px;}
select#page_size{width: 50px;}

.category_view{float: right;}
.category_view span{background: url(grid.png) no-repeat;cursor: pointer;display: inline-block;height: 24px;width: 25px;}
.category_view span.category_view__list{background-position: 0 0;}
.category_view span.category_view__list.current{background-position: 0 -24px;}
.category_view span.category_view__grid{background-position: -25px 0;}
.category_view span.category_view__grid.current{background-position: -25px -24px;}
.category_view span.category_view__smallgrid{background-position: -50px 0;}
.category_view span.category_view__smallgrid.current{background-position: -50px -24px;}

.category_view_c{display: none;}
.category_view_c.visible{display: block;}
.category_item{background: #F4F4F4;border: 1px solid #E5E5E5;margin: 0 auto 10px;padding: 10px;width: 685px;
background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );}
.category_item:hover{background: #fff;box-shadow: 0px 1px 5px #B0AFAF;}
.category_grid,
.category_smallgrid{text-align:justify;text-justify: newspaper;}
.category_grid:after,
.category_smallgrid:after{content: '';display: inline-block;height: 0px;overflow: hidden;visibility: hidden;width: 100%;}
.category_item--grid{display: inline-block;vertical-align: text-top;width:327px;}
.category_item.category_item--smallgrid{display: inline-block;margin-bottom: 6px;vertical-align: text-top;width: 210px;}

.category_item__img_c{float: left;position:relative;width: 130px;}
.category_item__img_c--smallgrid{margin-bottom: 10px;position:relative;width: 210px;}
.category_item__img__link{background: #FFF;border: solid 1px #E5E5E5;display: block;height: 110px;line-height: 110px;padding: 10px;text-align: center;}
.category_item__img__link--smallgrid{background: #FFF;border: solid 1px #E5E5E5;display: block;height: 190px;line-height: 190px;padding: 10px;text-align: center;}
.category_item__img{max-height: 110px;margin: 0 auto;max-width: 110px;vertical-align: middle;}
.category_item__img--smallgrid{max-height: 160px;margin: 0 auto;max-width: 160px;vertical-align: middle;}
.category_item__img__big{border:solid 1px #ccc;display: none;left:135px;position: absolute;top:0}
.category_item__available{color: #7D7B7B;font-size: 10px;line-height: 14px;margin-top: 10px;padding-left: 2px;}
.category_item__available__indik{background: #04E21F;border-radius: 10px;display: inline-block;height: 10px;margin-right: 3px;position: relative;top: 1px;width: 10px;}
.category_item__available__indik.false{background: #E22804;}

.category_item__right{float: right;width: 160px;}
.category_item__price{margin-top: 15px;}
.category_item__price__now{color: #303030;font: normal 20px/21px Arial, Helvetica, sans-serif;padding-right: 5px;}
.category_item__price__old{color: #F2041F;font: normal 14px/21px Arial, Helvetica, sans-serif;margin-left: 5px;text-decoration: line-through;}

.category_item__quantity{color: #A5A5A5;font-size:12px;padding:15px 0;}
.quantity__label{display: inline-block;line-height: 19px;vertical-align: text-top;}
.quantity__txt{border: 1px solid #E5E5E5;display: inline-block;height: 17px;padding: 0 3px 0 3px;text-align: center;vertical-align: text-top;width: 32px;}
.quantity_controls{background: url(quantity-controls.png) 0 0 no-repeat;cursor: pointer;display: inline-block;height: 19px;margin-right: 3px;text-indent: -9999px;vertical-align: text-top;width: 19px;}
.quantity_controls_plus:hover{background-position: 0 -19px}
.quantity_controls_minus{background-position: right 0}
.quantity_controls_minus:hover{background-position: right -19px}

.category_item__description{color: #AEADAD;padding: 0 190px 0 160px;}
.category_item__description--catgrid {padding-left: 145px;}
.category_item__title{font: normal 14px/24px arial,sans-serif;height:24px;margin-bottom: 10px;overflow: hidden;text-transform: uppercase;}
.category_item__title--smallgrid{font: normal 12px/18px arial,sans-serif;height:36px;margin-top: 10px;}
.category_item__title a{color: #000;}
.category_item__title a:hover{color: #f2041f}

.category_pagination{display: inline-block;font-size: 18px;line-height: 22px;text-align: center;vertical-align: text-top;}
.category_pagination a{color: #9B9B9B;font-size: 12px;}
.category_pagination a:hover{color: #000}
.category_pagination a,
.category_pagination span{margin: 0 2px;}

.category_item__description__last{padding: 10px 0;}
.category_item__description__details{background: url(detal-bg.png) 0 center no-repeat;color: #6c6c6c;float: right;height: 23px;line-height: 23px;padding: 0 0 0 22px;text-decoration: underline;}
.category_item__description__details:hover{text-decoration: none;}

.star_rait{background: url(star_rait.png) repeat-x 0 0;display: inline-block;height: 23px;width:125px;}
.star_rait_color{background: url(star_rait.png) repeat-x 0 -23px;height: 23px;}


/*.cloud-zoom-lens {border: 1px solid #E5E5E5;margin:-1px;background-color:#fff; cursor:move;}
.cloud-zoom-title {font-family:Arial, Helvetica, sans-serif;position:absolute !important;background-color:#000;color:#fff;padding:3px;width:100%;text-align:center;font-weight:bold;font-size:10px;top:0px;}
.cloud-zoom-big {background-color: #fff;background-repeat: no-repeat;border:2px solid #ccc;overflow:hidden;}
.cloud-zoom-loading {color:white;background:#222;padding:3px;border:1px solid #000;}*/

.cloudzoom-lens {border:1px solid #E5E5E5;cursor:crosshair;height:100px;width:100px;z-index: 10;}
.cloudzoom-zoom {border:1px solid #E5E5E5;height: 230px;width: 400px;}
.cloudzoom-zoom-inside {border:none;box-shadow:none;}
.cloudzoom-caption {background-color:#000;color:#fff;display:none;font-weight:bold;padding:10px;text-align: left;}
.cloudzoom-blank {background-image:url(blank.png);}
.cloudzoom-ajax-loader {background-image:url(ajax-loader.gif);height:32px;width:32px;}

.product_page__c{border: 1px solid #E5E5E5;padding: 20px;}

/*product_page__leftcol*/
.product_page__leftcol{float: left;width: 265px;}

.product_page__img_c{text-align: center;width:232px;}
.product_page__img__win{border: 1px solid #E5E5E5;display: inline-block;height: 230px;line-height: 230px;padding:2px;}
.product_page__img__win > a {
  vertical-align: middle;
  }
.product_page__img{max-height:230px;max-width:230px;}

.product_page__img__gallery__c{margin-top: 10px;position: relative;}
.product_page__img__gallery {height: 100px;overflow: hidden;position: relative;width: 232px;}
.product_page__img__gallery ul {list-style: none;margin: 0;padding: 0;position: absolute;width: 20000em;}
.product_page__img__gallery li {border: 1px solid #E5E5E5;float: left;height: 100px;line-height: 100px;margin-right: 32px;width: 100px;}
.product_page__img__gallery li img{max-height:90px;max-width:98px;vertical-align: middle;}

.product_page__img__gallery__control{display: none;}
.product_page__img__gallery__c:hover .product_page__img__gallery__control{display: block;}
.jcarousel-prev{background: url(prev.png) 0 0 no-repeat;display: block;height: 44px;left:0;position: absolute;top:28px;width: 28px;}
.jcarousel-next{background: url(next.png) 0 0 no-repeat;display: block;height: 44px;position: absolute;top:28px;right:0;width: 28px;}

.product_page__social{padding:10px 0 0;}
.product_page__social__item{display: inline-block;}

/*product_page__rightcol*/
.product_page__rightcol{padding-left:290px;}
.product_page__title{font: normal 24px/28px Arial, Helvetica, sans-serif;}
.product_page__description{border:solid 1px #e5e5e5;border-width:1px 0;margin:10px 0;padding:10px 0;}
.product_page__info_c{border:solid 1px #e5e5e5;padding:20px;}
.star_rait--product{vertical-align: text-top;}
.product_page__info__rait__txt{display: inline-block;line-height: 23px;vertical-align: text-top;}
.product_page__info__price_c{line-height: 20px;padding:25px 0;}
.product_page__info__variants{margin-bottom: 8px;}
.product_page__info__variants select{border:solid 1px #E5E5E5;padding:2px;margin-left: 5px;}
.product_page__info__price__new{color: #F2041F;font-size:24px;}
.product_page__info__price__old{color: #505050;text-decoration: line-through;}
.product_page__info__price__sale{color: #505050;}
.category_item__quantity--product{float: right;margin-top: 12px;}

.product_page__moreinfo{margin-top: 10px;}
.product_page__moreinfo__txt{border:solid 1px #e5e5e5;padding: 20px;}
.product_page__moreinfo__txt{display: none;}
.product_page__moreinfo__txt.visible{display: block;}

.product_page__moreinfo__tabs li{border:solid 1px #e5e5e5;border-bottom:none;cursor: pointer;font-weight:bold;display: inline-block;list-style: none;padding: 8px 20px;position:relative;top:1px;}
.product_page__moreinfo__tabs li.current{background: #fff;color: #F2041F;padding-bottom:9px;}

.product_page__nextprev__button{background: #F7F7F7;border: 1px solid #E5E5E5;color: #000;font-weight:bold;margin-top: 10px;padding:4px 20px;}
.product_page__nextprev__button:hover{background: #fff;}

/*reviews*/
.reviews__c{}
.reviews__title{font: normal 24px/28px Arial, Helvetica, sans-serif;}
.reviews__rait,
.reviews__empty,
.reviews__rait,
.reviews__list{margin-top: 15px;}
.reviews__list li{background: #F8F8F8;border: solid 1px #F3F3F3;list-style: none;margin-bottom: 10px;padding: 5px;}
.reviews__txt{background: #fff;border: solid 1px #F3F3F3;padding: 10px;}
.reviews__txt__details{font-size:10px;padding:6px;}
.reviews__txt__author{font-weight: bold;}
.review_form__c{background: #F0F0F0;border: solid 1px #ECECEC;padding:10px;}
.review_form__item{margin-bottom: 8px;}
.review_form__label{display: inline-block;line-height: 24px;vertical-align: text-top;width: 90px;}
.review_form__label--contact{display:block;width:300px}
.review_form__txt{background: #fff;border: solid 1px #F3F3F3;display: inline-block;height: 24px;line-height: 24px;padding: 0 8px;vertical-align: text-top;width: 300px;}
.review_form__textarea{background: #fff;border: solid 1px #F3F3F3;display: inline-block;height: 150px;padding: 2px;vertical-align: text-top;width: 312px;resize:none}
.review_form__ahtung{color:red;font-style: italic;font-size:10px;}
.review_form__ahtung.notice{font-size:14px;margin:10px 0}
.add_card_button--review{margin-left: 280px;}

/* sta rait */
div.rating-cancel,
div.star-rating{background: transparent;cursor: pointer;display: inline-block;height: 23px;overflow: hidden;text-indent: -999em;vertical-align: text-top;width: 25px;}
div.rating-cancel,
div.rating-cancel a{background:transparent;}
div.star-rating,
div.star-rating a{background:url(star_rait.png) no-repeat 0 0px}
div.rating-cancel a,
div.star-rating a{display:block;width:25px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -23px!important}
div.star-rating-hover a{background-position:0 -23px}
div.star-rating-readonly a{cursor:default !important}
div.star-rating{background:transparent!important;overflow:hidden!important;}
div.rating-cancel{display: none !important;}

/*busket*/
.busket__c{background: #F9F9F9;border:solid 1px #E5E5E5;overflow: hidden;padding:15px}
.cart-table{width: 100%;}
.cart-table thead td{font-weight: bold;padding: 5px 0;}
.cart-table td{background: #fff;border:solid 1px #E5E5E5;text-align: center;vertical-align: middle;}
.cart-table__img{display: inline-block;height: 110px;line-height: 110px;text-align: center;width: 110px;}
.cart-table__img img{vertical-align: middle;}
.cart-table__name{text-align: center;padding: 6px 0;}
.cart-table__del{background: url(remove_from_cart.png) no-repeat 0 0;display: inline-block;height: 27px;width: 23px;}
.total_amount_s{font-size: 18px;font-weight: bold;}

.discounts-list .item{margin-top: 10px;}
.coupon_c{margin: 0px 30px 0 0px;
width: 270px;
float: left;}
.coupon_label{display: inline-block;line-height: 32px;vertical-align: text-top;}
.coupon_txt{border: 1px solid #E5E5E5;display: inline-block;line-height: 30px;height: 30px;padding: 0 3px 0 3px;vertical-align: text-top;}

.search_result{background: #F7F7F7;border: 1px solid #E5E5E5;display: inline-block;margin-bottom: 10px;overflow: hidden;padding: 10px;vertical-align: text-top;width: 330px;}
.search_result__img{background: white;border: solid 1px #E5E5E5;display: block;float: left;height: 100px;line-height: 100px;padding: 10px;text-align: center;width: 100px;}
.search_result__img img{max-height: 90px;max-width: 90px;vertical-align: middle;}
.search_result__description{padding-left: 140px;}
.quantity__txt--search{line-height: 30px;height: 30px;}

.product_page__img__gallery li{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

  .discounts-list {margin-top: 20px;}
.total-amount{
margin-top: 7px;
width: 200px;
      float: left;}

#description{
  margin-top: 40px;
  margin-right: 10px;
  margin-left: 340px;
  position: absolute;
  text-align:justify;
  font-size: 120%;
}

#description_title{
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 340px;
  position: absolute;
  text-align: center;
  font-family: Georgia, Times, “Times New Roman”, serif;
  font-size: 250%;
}

#picture_for_show_action{
    border: 3px double black; /* Параметры границы */
    background: gray; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    width: 300px;
    height: 400px;
}

.category_item__description_d{
  text-align:justify;
}

.category_item__busket{
    color: white;
    display:inline-block;
    font-family: 'Fjalla One', serif;
    font-size: 9pt;
    font-weight: 100;
    text-align: center;
    font-style: italic;
    padding:0px 6px;
    padding-right: 8px;
    padding-top: 2px;
    text-decoration:none;
}

.button{
    color: white;
    background-color:#363636;
    display:inline-block;
    font-family: 'Fjalla One', serif;
    font-size: 9pt;
    font-weight: 100;
    text-align: center;
    font-style: Times;
    padding:0px 6px;
    padding-right: 8px;
    padding-top: 2px;
    text-decoration:none;
    width: 240px;
    height: 30px;
    border-radius: 8px;
}

.button_empty_cart{
  padding-left: 50px;
  position: absolute;
  outline:none;
}

.button_create_order{
  padding-left: 420px;
  z-index: 1;
  outline:none;
}

.button_create_order2{
  padding-left: 220px;
  z-index: 1;
  outline:none;
}

.button_product_list{
    color: white;
    background-color:#363636;
    display:inline-block;
    font-family: 'Fjalla One', serif;
    font-size: 10pt;
    font-weight: 100;
    text-align: center;
    font-style: Times;
    width: 140px;
    height: 30px;
    border-radius: 8px;
    outline:none;
}
.nivo-main-image {
  display: block !important;
  position: relative !important;
  display: inline;
  height: 450px;
  width: 700px;
  border: 2px double red;
  position: absolute;
  }

.container {width: 100%;float: left;}

/* Middle */
.middle {
  height: 1%;
  padding: 10px;
  position: relative;}


.middle:after {content: '';clear: both;display: table;}

.content {padding: 0 0 0 240px;}
.main_title{
  color: #F2041F;
  font: normal 18px/21px Arial,Helvetica,sans-serif;
  margin-bottom:12px;
  text-transform: uppercase;}

.product_block__img{padding-top:0px;text-align: center;}
.product_block__img img{height: 210px;max-width: 210px;}

.product_block{border: 1px solid #EAEAEA;margin-top: 10px;padding: 17px;}
.text{  }
.title_text { text-align: center; color: red; font-size: 15px;}


.busket_search_c{float: left;margin-left: 10px;width: 230px;}
.busket{background: url(cart_img.gif) 8px 6px no-repeat;border: 1px solid #EAEAEA;color: #6A6A6A;font: normal 15px/30px Arial, Helvetica, sans-serif;height: 70px;padding: 6px 0 0 46px;}
.busket__title{color: #F2041F;margin-right: 7px;}

.busket_image{
  position: absolute;
  padding-left: 4px;
  padding-top: 4px;
}
.busket_text{
  padding-left: 55px;
}

.right{
float:right;
}
