<div class="clear"></div>
  <div class="main_content">
    <div class="breadcrumbs">
      <a href="/">Главная</a> &gt;
      <span>НОВОСТИ</span>
    </div>
    <div class="text">
      <p>В настоящий момент новости отсутствуют!</p>
    </div>
</div>
