<div class="clear"></div>
  <div class="main_content">
    <div class="breadcrumbs">
      <a href="/">Главная</a> &gt;
      <span>ДОСТАВКА</span>
    </div>

  <div class="text">
    <p>Наш интернет-магазин осуществляет доставку по городу Минску и территории Беларуси:</p>
    <li>Курьерская доставка по Минску — Бесплатно. (ежедневно после 17:00)</li>
    <li>Почтовая доставка по Беларуси — от 150 000 бел.руб. (срок доставки - 2 дня после заказа)</li>
    <li>Курьерская доставка по Беларуси — 150 000 бел.руб. (прти заказе от 5 шт и более)</li>
  </div>
</div>
