<div class="main_content">

  <div class="category_c">
    <h1 class="category_title">Детальное описание</h1>
  </div>

  <div id="description_title">
    <%= @product.title %>
  </div>

  <div id="description">
    <%= @product.description %>
  </div>

  <div id="picture_for_show_action">
    <%= image_tag @product.image, :width => 300, :height => 400 %>
  </div>

  <div class="right">
    <div class="back">
      <%= link_to 'Вернуться', products_path(var: @product.types) %>
    </div>
  </div>

</div>
