<div class="main_content">
  <div class="main_content_text">
    У нас Вы сможете:
  <br>
  <br>
    -    Купить автоклав в Минске, а так же по всей Беларуси по самой дешевой цене.
  <br>
    -    Заказать разработку и продвижение сайта любой сложности (слева вкладка сайты).
  <br>
    -    В короткие сроки обучиться самому создавать и продвигать сайты любой тематики (слева вкладка обучение).
  <br>
  <br>
         Мы ждем Вас !!!
  </div>
  <img class="nivo-main-image" src="assets/title_page.jpg">



</div>



