<div class="main_content">
  <div class="main_content_text">
    Наша компания занимается продажей товаров для дома и дачи, охоты и рыбалки.
  <br>
  <br>
    - Гарантировано самые низкие цены, поставка напрямую с завода изготовителя.
  <br>
  <br>
    - Бесплатная доставка по г.Минску, а также платная доставка по территории Беларуси.
  <br>
  <br>
      Мы ждем Вас !!!
  </div>
  <img class="nivo-main-image" src="assets/title_page.jpg">



</div>



