$('#cart').html("<div class='busket'><a href='/carts/<%= session[:cart_id] %>' class='busket__title'>Корзина:</a> у Вас <%= @cart.count_item_cart %> товаров</div>");
alert('Товар добавлен в корзину');
